<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35909739414-uo2lgpnkvaa1jacn4u429ejmenctd5t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35909739414-uo2lgpnkvaa1jacn4u429ejmenctd5t6</string>
	<key>API_KEY</key>
	<string>AIzaSyApS-FV9W3uTNWhiZ3UkKlq81c9m5yGzKg</string>
	<key>GCM_SENDER_ID</key>
	<string>35909739414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucu.ios.SoccerGenerator</string>
	<key>PROJECT_ID</key>
	<string>soccergenerator</string>
	<key>STORAGE_BUCKET</key>
	<string>soccergenerator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35909739414:ios:cd2a20570ee6269b</string>
	<key>DATABASE_URL</key>
	<string>https://soccergenerator.firebaseio.com</string>
</dict>
</plist>